@model Prog7311Final.Models.Contract

<h2>Create Contract</h2>

<form asp-action="Create" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="ContractName"></label>
        <input asp-for="ContractName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Client</label>
        <select asp-for="ClientId"
                asp-items="ViewBag.Clients"
                class="form-control">
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Currency</label>
        <select asp-for="Currency"
                asp-items="ViewBag.Currencies"
                class="form-control">
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" type="date" class="form-control"/>
    </div>

    <div class="mb-3">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" type="date" class="form-control"/>
    </div>

    <div class="mb-3">
        <label asp-for="Status"></label>
        <select asp-for="Status"
                asp-items="Html.GetEnumSelectList<Prog7311Final.Models.ContractStatus>()"
                class="form-control">
        </select>
    </div>

    <div class="mb-3">
        <label>Upload Contract</label>
        <input asp-for="UploadFile" type="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">
        Save Contract
    </button>
</form>