@model Prog7311Final.Models.Client

<h2>Client Details</h2>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Contact Details</dt>
    <dd class="col-sm-9">@Model.ContactDetails</dd>

    <dt class="col-sm-3">Region</dt>
    <dd class="col-sm-9">@Model.Region</dd>
</dl>

<a asp-action="Index" class="btn btn-secondary">Back</a>